@import url("/style.css");

.contact-container {
  padding-top: 30px;
}
.contact-header p {
  font-size: 1.5rem;
}
.conversation {
  color: var(--dd-link);
  text-align: center;
}
.form-control {
  width: 90% !important;
}
.form-label {
  margin-bottom: 0rem !important;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
textarea {
  background-color: transparent !important;
  border: transparent !important;
  box-shadow: aqua;
  border-radius: 10px;
  box-shadow: 6px 6px 12px var(--dd-box-shadow-dark),
    inset -6px -6px 12px var(--dd-box-shadow-light);
  transition: border 0.5s ease-in-out;
  color: white !important ;
}
.form-input:focus {
  background-color: transparent !important;
  outline: transparent !important;
  box-shadow: 6px 6px 12px var(--dd-box-shadow-dark),
    inset -6px -6px 12px var(--dd-box-shadow-light) !important;
}
.input__label--hoshi::before,
.input__label--hoshi::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
.input__label--hoshi::after {
  margin-top: 2px;
  border-bottom: 2px solid #08fdd8;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.important {
  color: var(--dd-imp);
}
.send-message-btn {
  padding: 10px 20px !important;
  color: var(--dd-link) !important;
  border-color: var(--dd-link) !important;
  transition: box-shadow 1.2s ease-in-out, transform 1.2s ease-in-out,
    background-color 1.2s ease-in-out, color 1.2s ease-in-out;
  margin: 20px 0;
}
.send-message-btn:hover,
.send-message-btn:focus {
  box-shadow: inset -3.5em 0 0 0 var(--dd-link),
    inset 3.5em 0 0 0 var(--dd-link);
  color: var(--dd-background) !important;
  background-color: var(--dd-link) !important;
}
